a {
    color: black;
    text-decoration: none;
}

h1 {
    &.title {
        margin: 20px 0px 5px;
    }
}
.motto {
    margin-bottom: 20px;
    color: $disabled-color;
}

h3 {
    span {
        color: grey;
    }
}

button {
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: $highlight-color;
    padding: 10px 20px;

    &:hover {
        color: white;
        background-color: $primary-color;
    }
}