input {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.react-tags__search {
    input {
        box-sizing: content-box;
    }
}

.react-tags__suggestions {
    ul {
        margin: 0px;
        padding-left: 0px;
        li {
            cursor: pointer;
            padding: 10px 0px 10px 10px;
            list-style: none;
            &:hover {
                background-color: #CCCCCC;
            }
        }
    }
}

.form-item {
    margin-bottom: 10px;

    &.form-checkbox {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;

        label {
            padding-top: 2px;
        }

        input {
            margin-right: 5px;
            width: auto;
        }
    }

    label {
        display: block;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}